pipeline/source/*
pipeline/transformed/*
pipeline/.pipeenv
backend/.serverenv
backend/__pycache__
.venv
pipeline/temp
pipeline/.env
frontend/.next
frontend/node_modules
pipeline/events_rows.csv
pipeline/test_neighborhoods.csv
