#suggestionBoxSkeleton {
    width: 100%;
    max-width: 800px;
    height: 250px;
    position: absolute;
    top: 57px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    background-color: var(--dark-background);
    background-color: white;
    animation: skeletonPulse 1.2s ease-in-out infinite;
}

@keyframes skeletonPulse {
    0%, 100% {
        background-color: #a3a3a3; /* neutral-400 */
    }

    50% {
        background-color: #525252; /* neutral-600 */
    }
}

#suggestionBox {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 55px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.parcelSuggestion {
    width: 100%;
    background: none;
    border: none;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.parcelSuggestionContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.parcelSuggestionIcon {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    fill: var(--dark);
}