.parcelSuggestion {
    width: 100%;
    background: none;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    fill: var(--dark);
    border-radius: 10px;
}

.parcelSuggestion:hover {
    color: var(--light-background);
    background-color: var(--dark);
    fill: var(--light-background);
}

.parcelSuggestionContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.parcelSuggestionIcon {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    margin-left: 3px;
}