@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    /* neutral-200 */
    --light-background: oklch(92.2% 0 0); 

    /* neutral-800 */
    --dark: oklch(26.9% 0 0);
    
    /* teal-700 */
    --dark-background: oklch(51.1% 0.096 186.391);

    /* orange-200 */
    --accent: oklch(90.1% 0.076 70.697);

    --white: white;

    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 600px;
    font-family: var(--font-sans);
    font-weight: 400;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, button, nav, p {
    font-family: var(--font-sans);
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: larger;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

h4 {
    font-size: small;
}

button {
    background: none;
    border: none;
}

.hidden {
    visibility: hidden;
}

.noDisplay {
    display: none;
}

.defaultIcon {
    width: 25px;
    height: 25px;
    fill: var(--light-background);
}

#contentWrapper {
    width: 100%;
    height: 100%;
    max-width: 600px;
    overflow-y: scroll;
}