#cardWrapper {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

.cardValue {
    font-weight: bold;
}

#parcelInfoHeader {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 10px;
    background-color: var(--white);
    border-radius: 15px;
}

.parcelInfoHeaderBox {
    padding: 20px;
}

.parcelInfoHeaderBoxLabel {
    font-weight: bold;
}