#recordCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#recordPageHeaderCount {
    font-weight: bold;
    padding: 20px;
}

#recordPageHeaderDescription {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.recordCard {
    box-sizing: border-box;
    padding: 25px;
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.recordCardHeaderWrapper {
    display: flex;
    gap: 10px;
}

.recordCardInnerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.recordCardIcon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    fill: var(--dark);
}

.recordCardValue {
    font-weight: bold;
}

.recordCardSubHeader {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.recordCardComplaintSubHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.statusDescriptionWrapper {
    text-align: right;
}

.acaLinkButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--dark);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.acaLinkButton {
    text-decoration: none;
    color: var(--light-background);
}

.recordCardTagBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.healthTag {
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
    user-select: none;
}